<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorfull_advertisment</key>
	<true/>
	<key>amazing_feature</key>
	<true/>
	<key>crazy_feature</key>
	<true/>
	<key>cool_feature</key>
	<false/>
	<key>awesome_feature</key>
	<false/>
	<key>awesome_feature_canary_ratio</key>
	<integer>1</integer>
	<key>ab_experiment</key>
	<false/>
	<key>ab_experiment_ratio</key>
	<real>0.5</real>
</dict>
</plist>
